/*****************************************************
CSS GENERAL
*****************************************************/

:root {
    --bg_color: #083b4c;
    --a_color: #1389b2;
    --fizz_color: #0cd6a1;
    --buzz_color: #ffd166;
    --fizzbuzz_color: #f0466f;
    --white_color: #f2f2f2;
}

/*****************************************************
CSS body
*****************************************************/

body {
    background-color: var(--bg_color);
    font-family: 'Merriweather', serif;
}

h1 {
    color: var(--white_color);
    font-size: 70px;
}

.game {
    width: 800px;
}

.square {
    width: 100px;
    height: 100px;
    margin: 7px;
    position: relative;
}

#a_variable {
    background-color: var(--a_color);
}

#fizz {
    background-color: var(--fizz_color) ;
}

#buzz {
    background-color: var(--buzz_color);
}

#fizzbuzz {
    background-color: var(--fizzbuzz_color);
}

.position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}